html {
  height: 100%;
  width: 100%;
}

body {
  background: #fff1ce;
  color: #520f13;
  font-size: 14px;
  font-family: sans-serif;
}

a {
  text-decoration: none;
  outline: none;
  color: #520f13;
  font-size: 14px;
}

a:hover {
  text-decoration: none;
  outline: none;
  color: #520f13;
  font-size: 14px;
}

#wrapper {
  width: 1170px;
  margin: 0 auto;
  position: relative;
}

.header {
  background-image: url('../images/header_fon.png');
  background-repeat: no-repeat;
  width: auto;
  height: 225px;
  margin: 0 auto;
  margin-top: -10px;
}

.main-logo {
  padding: 52px 0px 0px 52px;
}

.language-switcher {
  position: absolute;
  top: 52px;
  right: 30px;
}

.language-switcher__item {
  width: 52px;
  height: 40px;
  color: #520f13;
  border: 2px solid #520f13;
  border-radius: 7px;
  background: #ffe9c4;
  font-size: 22px;
  padding: 7px;
  font-family: 'Philosopher', sans-serif;
 }

.language-switcher__item:hover {
  color: #520f13;
  font-size: 22px;
  font-family: 'Philosopher', sans-serif;
}

.language-switcher__item_colortext {
  width: 52px;
  height: 40px;
  color: #294a5d;
  border: 2px solid #520f13;
  border-radius: 7px;
  background: #ffe9c4;
  font-size: 22px;
  padding: 7px;
  font-family: 'Philosopher', sans-serif;
}

.language-switcher__item_colortext:hover {
  color: #294a5d;
  font-size: 22px;
  font-family: 'Philosopher', sans-serif;
}

.stars {
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  height: 44px;
  width: auto;
  margin: 0 auto;
  margin-top: 15px;
}

.welcome-wrapper {
  background-image: url('../images/block1_bg.png');
  background-repeat: no-repeat;
  height: 380px;
  width: auto;
  margin: 0 auto;
}

.annotation-image {
  margin-left: 80px
}

.annotation {
  float: right;
  width: 600px;
  position: absolute;
  right: 22px;
  top: 335px;
}

.annotation__title {
  font-family: 'Pattaya', sans-serif;
  font-size: 38px;
  text-shadow: 4px 4px 4px #ded5bd;
  color: #520f13;
  letter-spacing: 0.1em;
}

.annotation__label {
  font-size: 30px;
  font-family: 'Philosopher', sans-serif;
  margin: 38px;
  text-align: right;
  text-shadow: 4px 4px 4px #d0cec8;
  letter-spacing: 0.05em;
}

.hvat {
  font-family: 'Pattaya', sans-serif;
  color: #922922;
  font-size: 40px;
  text-shadow: 4px 4px 4px #ded5bd;
}

.stars_rev {
  background-image: url('../images/stars_rev.png');
  background-repeat: no-repeat;
  height: 44px;
  width: auto;
}

.content {
  background: repeating-linear-gradient(
  -55deg,
  #fff1ce,
  #fff1ce 20px,
  #dd9c8d 20px,
  #dd9c8d 40px
  );
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-items: center;
  align-content: space-around;
  margin-top: 12px;
  height: 100%;
}

.category-wrapper {
  width: 255px;
  height: 321px;
  background-color: #294a5d;
  margin: 16px auto;
  box-shadow: 0px 3px 6px -1px #c0c0c0;
  border-radius: 7px;
}

.category-wrapper__image {
  width: 210px;
  height: 210px;
  border-radius: 9px;
  background-color: #f6e3c0;
  margin: 0 auto;
  margin-top: 24px;
}

.category-label {
  width: 210px;
  height: 35px;
  border-radius: 9px;
  background-color: #f6e3c0;
  text-align: center;
  margin: 0 auto;
  margin-top: 20px;
  font-family: 'Berkshire Swash', cursive;
  font-size: 23px;
  padding-top: 9px;
  text-shadow: 3px 3px 3px #aaa;
}

.category-label__page {
  font-size: 23px;
}

.category-label__page:hover {
  font-size: 23px;
}

.dummy-annotation__image {
  margin-top: 33px;
  width: 292px;
  height: 318px;
}

.dummy-annotation__image_img {
  margin-left: -44px;
}

.stars-over-footer {
  background-image: url('../images/stars.png');
  background-repeat: no-repeat;
  width: auto;
  height: 44px;
  margin-top: 14px;
}

.footer {
  position: relative;
  background-image: url('../images/footer_fon.png');
  background-repeat: no-repeat;
  height: 100px;
  width: auto;
  margin-top: 15px;
  clear: both;
}

.footer__e-mail {
  width: 177px;
  height: 35px;
  position: absolute;
  top: 33px;
  left: 946px;
  background-color: #ffe5b9;
  border-radius: 8px;
  box-shadow: 0px 3px 3px -1px #c0c0c0;
}

.footer__e-mail-text {
  font-size: 14px;
  position: absolute;
  text-align: center;
  top: 11px;
  left: 10px;
  color: #161716;
  font-family: 'Rubik', sans-serif;
}

.footer__e-mail-text:hover {
  font-size: 14px;
  position: absolute;
  text-align: center;
  top: 11px;
  left: 10px;
  color: #161716;
  font-family: 'Rubik', sans-serif;
}